.messages-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px;
}

.messages-header {
  border-bottom: 1px solid rgba(45, 45, 45, 0.3);
  margin-bottom: 10px;
}

.messages-header i {
  margin-right: 5px;
}

.message-conversations {
  overflow: scroll;
  flex-grow: 1;
  padding: 16px 0px;
}

.message {
  display: flex;
  justify-content: flex-start;
}

.message-img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 16px;
  object-fit: cover;
  object-position: 50% 50%;
}

.message-content {
  flex-grow: 1;
}

.message-content p {
  margin-bottom: 1rem;
}
